<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="secret-main">
        <div class="secret">
            <h1>Dont tell her, is it secret</h1>
            <div class="form-secret">
                <% if (data.secret === null) { %>
                    <!-- Form untuk menambahkan secret -->
                    <form action="/secret/post" method="post">
                        <input type="text" name="secret" placeholder="Input your secret..">
                        <button type="submit">Post</button>
                    </form>
                <% } else { %>
                    <!-- Form untuk mengedit secret -->
                    <form action="/secret/update" method="post">
                        <input type="text" name="secret" value="<%= data.secret %>" placeholder="Edit your secret">
                        <button type="submit">Update</button>
                    </form>
                <% } %>

                <!-- Tombol Logout -->
                <form action="/secret/logout" method="post">
                    <button type="submit" class="btn-logout">Logout</button>
                </form>
            </div>



        </div>
    </div>
</body>
</html>