<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <div class="form-container">
            <form action="/regis" method="post" class="form-post">
                <h1>Please Registart</h1>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Email.." required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password.." required>
                <button type="submit" class="btn btn-login">Regis</button>
            </form>
            <form action="/" class="back-form"><button type="submit" class="btn btn-back">Back</button></form>
        </div>
    </main>
</body>
</html>
